/* Style for the main element */
main.accio {
  width: 150px;
  height: 150px;
  background-color: #000000; /* Black */
}

/* Style for the paragraph element */
.hello-accio {
  color: #ffffff; /* White */
  margin-left: 32px;
  padding: 10px;
}
